@mixin defaultFont {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
}

@mixin disableSelect {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.lunatic .lunatic-dropdown {
	display: block;
	width: 100%;
	margin-bottom: 1.5rem;
	&:focus {
		outline: none;
	}

	&.label-left {
		display: flex;
		flex-direction: row;
	}

	&.label-right {
		display: flex;
		flex-direction: row-reverse;
	}

	&.label-top {
		display: flex;
		flex-direction: column;
	}

	&.label-bottom {
		display: flex;
		flex-direction: column-reverse;
	}

	.lunatic-dropdown-label {
		opacity: 1;
	}

	.lunatic-dropdown-container {
		position: relative;
		height: 2rem;
		width: 100%;
		z-index: 0;

		&.focused {
			z-index: 1;
		}
		&:focus {
			outline: none;
		}

		.lunatic-dropdown-content {
			background-color: var(--color-very-very-light);
			border-color: white;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			height: auto;
			&.visible {
				border-radius: 0 0 16px 16px;
				height: auto;
			}

			&.disabled {
				background-color: whitesmoke;
			}

			.lunatic-dropdown-input {
				border-radius: 10px 10px;
				box-shadow: 0 0 0 0.2em var(--color-primary-dark);
				input {
					@include defaultFont();
					@include disableSelect();
					margin: 0px 25px 0px 12px;
					width: calc(100% - 37px);
					background-color: transparent;
					border-color: transparent;
					height: 2rem;
					border: none;
					outline: none;
					text-align: left;
				}
				&.focused {
					box-shadow: 0 0 0 0.2em var(--color-primary-main),
						-5px -5px 5px var(--color-primary-light),
						5px -5px 5px var(--color-primary-light),
						-5px 5px 5px var(--color-primary-light),
						5px 5px 5px var(--color-primary-light);
				}
			}

			.lunatic-icone {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 7px;
				&:focus {
					outline: none;
				}
			}

			.lunatic-transition {
				visibility: hidden;
				overflow-y: hidden;
				opacity: 0;

				&:focus {
					outline: none;
				}

				&.visible {
					visibility: visible;
					opacity: 1;
					transition: opacity 1s ease-out;
				}

				.lunatic-dropdown-panel {
					background-color: transparent;
					margin: 0 10px 12px 10px;
					padding-top: 3px;
					list-style: none;
					&:focus {
						outline: none;
					}
					max-height: 100px;
					overflow-y: auto;

					&::-webkit-scrollbar {
						width: 8px;
					}
					&::-webkit-scrollbar-track {
						background-color: var(--color-secondary-main);
					}
					&::-webkit-scrollbar-thumb {
						background: var(--color-primary-dark);
					}
					&::-webkit-scrollbar-thumb:hover {
						background: var(--color-primary-main);
					}
				}

				/** options style */
				.lunatic-dropdown-option {
					cursor: pointer;
					@include defaultFont();
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: black;

					display: block;

					&.lunatic-dropdown-option-active {
						color: ivory;
						background-color: var(--color-primary-main);
						.lunatic-prefix {
							color: darkgoldenrod;
							font-weight: bold;
						}
					}

					&.lunatic-dropdown-option-selected {
						color: snow;
						background-color: rgb(136, 19, 151);
						.lunatic-prefix {
							color: lightgray;
							font-weight: bold;
						}

						&.lunatic-dropdown-option-active {
							color: khaki;
							background-color: rgb(188, 90, 201);
						}
					}

					.lunatic-prefix {
						color: cornflowerblue;
						font-weight: bold;
					}
				}
			}
		}
	}
}
