@import 'src/components/index.scss';
$inputHeight: 2em;

@mixin disableSelect {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.lunatic-dropdown {
	display: block;

	&:focus {
		outline: none;
	}

	&.label-left {
		display: flex;
		flex-direction: row;
	}

	&.label-right {
		display: flex;
		flex-direction: row-reverse;
	}

	&.label-top {
		display: flex;
		flex-direction: column;
	}

	&.label-bottom {
		display: flex;
		flex-direction: column-reverse;
	}

	.lunatic-dropdown-container {
		position: relative;
		height: $inputHeight;
		width: 100%;
		z-index: 0;

		&.focused {
			z-index: 1;
		}
		&:focus {
			
			outline: none;
		}

		.lunatic-dropdown-content {
			.lunatic-dropdown-input {
				display: block;
				background-color: snow;
				width: 100%;
				border: none;
				height: $inputHeight;
				border-radius: 0px 0px;
				box-shadow: 0em 0em 0.1em 0.1em $main_color;

				&.focused {
					box-shadow: 0 0 0 0.2em $main_color;
				}

				&.disabled {
					background-color: $disabled;
				}

				input {
					margin: 0px 25px 0px 12px;
					width: calc(100% - 37px);
					background-color: transparent;
					height: $inputHeight;
					border: none;
					outline: none;
					text-align: left;
				}
			}

			.lunatic-icone {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 7px;
				&:focus {
					outline: none;
				}
			}

			.lunatic-transition {
				&.width-auto  {
					display: inline-block;// for fix width 
				}
				
				visibility: hidden;
				overflow-y: hidden;
				opacity: 0;

				&:focus {
					outline: none;
				}

				&.visible {
					visibility: visible;
					opacity: 1;
					transition: opacity 0.5s ease-in;
				}

				.lunatic-dropdown-panel {
					padding: 0;
					margin: 0;
					margin-top: 12px;
					list-style: none;
					background-color: $second_color;
					&:focus {
						outline: none;
					}
					max-height: 200px;
					overflow-y: auto;

					/* width */
					&::-webkit-scrollbar {
						width: 8px;
					}

					/* Track */
					&::-webkit-scrollbar-track {
						background-color: #ffe9e8;
						border-radius: 4px 4px;
					}

					/* Handle */
					&::-webkit-scrollbar-thumb {
						background: $main_color;
						border-radius: 4px 4px;
					}

					/* Handle on hover */
					&::-webkit-scrollbar-thumb:hover {
						background: Indigo;
					}
				}

				/** options style */
				.lunatic-dropdown-option {
					cursor: pointer;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $disabled;
					padding: 5px 5px;
					display: block;
					border-bottom: solid 1px #ffe9e8;

					&.lunatic-dropdown-option-active {
						color: $disabled;
						background-color: $main_color;
						.lunatic-prefix {
							color: Indigo;
							font-weight: bold;
						}
					}

					&.lunatic-dropdown-option-selected {
						color: $disabled;
						background-color: Indigo;
						.lunatic-prefix {
							color: $disabled;
							font-weight: bold;
						}

						&.lunatic-dropdown-option-active {
							color: $disabled;
							background-color: $second_color;
						}
					}

					.lunatic-prefix {
						color: Indigo;
						font-weight: bold;
					}
				}
			}
		}
	}
}
