.lunatic-content-message {
	background-color: whitesmoke;
	box-shadow: inset 0.25rem 0 0 0 dodgerblue;
	font-family: 'Marianne', arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 2rem 3rem;
}
