.radio-group {
	border: 0;
	outline: 0;
	margin-top: 0.9375rem;
}

.radio-lunatic {
	position: absolute;
	opacity: 0;
	margin-bottom: 0;
	margin-top: 0.05rem;
	margin-left: 0.2rem;
	height: 20px;
	width: 20px;
	+ label {
		margin-left: 2rem;
		margin-top: 2rem;
	}
	&:focus {
		+ label {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

.radio-modality {
	margin-bottom: 0.8rem;
}
