.lunatic-radio-group-option {
	align-items: center;

}
.lunatic-input-radio {
	display: flex;

	
}
.lunatic-radio-label{
	display: flex;
	gap: 0.5em;
}

.lunatic-label {
	display: flex;
	flex-direction: row;
	background-color: darkgreen;
}