.lunatic-radio-group {
	legend {
		.label-description {
			font-weight: lighter;
		}
	}
	.lunatic-input-radio {
		display: flex;

		label {
			.label-description {
				font-weight: lighter;
			}
		}
	}
}
