.radio-group {
	border: 0;
	outline: 0;
	margin-top: 0.9375rem;
}

.radio-lunatic {
	opacity: 0;
	margin-right: -1.1875rem;
	margin: 0;
	margin-left: 1em;
	margin-top: 0.5em;
	&:focus {
		+ label {
			box-shadow: none;
			background-color: rgba(0, 0, 0, 0.05);
			border-right: 0.0625rem solid var(--color-very-light);
			padding-right: 0.3125rem;
			padding-top: 0.125rem;
			padding-bottom: 0.125rem;
		}
	}
	&:checked + label {
		padding-right: 0.3125rem;
		padding-top: 0.125rem;
		padding-bottom: 0.125rem;
		background-color: rgba(0, 0, 0, 0.05);
		border-right: 0.0625rem solid var(--color-very-light);
		&::before {
			content: var(--radio-checked);
		}
	}
	+ label {
		padding-right: 0.3125rem;
		padding-top: 0.125rem;
		&::before {
			border: 0;
			transform: none;
			margin: 0;
			margin-right: 0.375rem;
			padding: 0;
			position: relative;
			top: 0.4375rem;
			content: var(--radio-unchecked);
		}
	}
}

.radio-modality {
	margin-top: 0;
	margin-bottom: 0.4375rem;
}
