$colorA: #e9d0d0;
$colorB: darkred;
$colorC: #320000;

.lunatic-suggester-widget {
	position: relative;
	border: solid $colorB 2px;
	background-color: $colorA;
	padding: 4px 4px;
	border: 2px 2px;
	width: 400px;
	box-shadow: $colorC 0px 3px 8px;

	.widget-row {
		height: 22px;
		display: flex;
		flex-direction: row;
		margin-bottom: 1px;
		.store-name {
			width: 60%;
			color: $colorB;
			font-size: 18px;
			white-space: nowrap;
			overflow-x: hidden;
		}
		.stats {
			color: $colorB;
			font-size: 18px;
			white-space: nowrap;
			overflow-x: hidden;
			width: 40%;
		}
		.widget-button {
			margin: 0 1px 0 0;
			padding: 0;
			border: none;
			width: 18px;
			height: 18px;
			background-color: $colorB;

			&.disabled {
				background-color: gray;
				cursor: default;
			}

			&:hover {
				background-color: $colorC;
				transition: background-color 1s;
				cursor: pointer;
			}

			.lunatic-suggester-icon {
				svg {
					width: 18px;
					height: 18px;
					fill: $colorA;
				}
			}
		}

		.lunatic-suggester-loader-progress {
			height: inherit;
			border: solid 1px $colorB;
			border-radius: 2px;
			width: 70%;

			&.done {
				&:hover {
					border-color: $colorC;
					transition: border-color 1s;
					.progress {
						background-color: $colorC;
						transition: background-color 1s;
					}

					cursor: pointer;
				}
			}

			.content {
				padding: 2px 2px;
				height: calc(100%);
				width: 100%;
				.progress {
					background-color: $colorB;
					height: 100%;
				}
			}
		}
	}

	.suggester-widget-network {
		position: absolute;
		left: 6px;
		background-color: $colorB;
		border-radius: 50%;
		padding: 2px 2px;
		left: -18px;
		top: -18px;
		box-shadow: $colorC 0px 3px 8px;
		&.online {
			svg {
				fill: greenyellow;
			}
		}

		svg {
			width: 24px;
			height: 24px;
			fill: $colorA;
		}
	}
}
