$inputHeight: 32px;
$boxShadowColor: #aaa;

@mixin defaultFont {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
}

@mixin disableSelect {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.lunatic-dropdown-edit {
	display: block;
	width: 100%;
	&:focus {
		outline: none;
	}

	&.label-left {
		display: flex;
		flex-direction: row;
	}

	&.label-right {
		display: flex;
		flex-direction: row-reverse;
	}

	&.label-top {
		display: flex;
		flex-direction: column;
	}

	&.label-bottom {
		display: flex;
		flex-direction: column-reverse;
	}

	.lunatic-dropdown-label {
		@include defaultFont();
		color: rgb(0, 123, 255);
		opacity: 1;
	}

	.lunatic-dropdown-container {
		position: relative;
		height: $inputHeight;
		width: 100%;
		&:focus {
			outline: none;
		}

		.lunatic-dropdown-content {
			background-color: lavenderblush;
			border-radius: 20px 20px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			position: absolute;

			&.visible {
				border-radius: 16px 16px;
				height: auto;
			}

			box-shadow: 0em 0em 0.1em 0.1em $boxShadowColor;
			&.focused {
				box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25);
			}
			.lunatic-dropdown-input {
				input {
					@include defaultFont();
					@include disableSelect();
					margin: 0px 25px 0px 12px;
					width: calc(100% - 37px);
					background-color: transparent;
					height: $inputHeight;
					border: none;
					outline: none;
				}
			}

			.lunatic-icone {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 7px;
				&:focus {
					outline: none;
				}
			}

			.lunatic-transition {
				visibility: hidden;
				overflow-y: hidden;
				opacity: 0;

				&:focus {
					outline: none;
				}

				&.visible {
					visibility: visible;
					opacity: 1;
					transition: opacity 1s ease-out;
				}

				.lunatic-dropdown-panel {
					background-color: transparent;
					margin: 0 10px 12px 10px;
					list-style: none;
					padding: 0;
					&:focus {
						outline: none;
					}
					max-height: 100px;
					overflow-y: auto;

					/* width */
					&::-webkit-scrollbar {
						width: 8px;
					}

					/* Track */
					&::-webkit-scrollbar-track {
						background-color: lightgray;
					}

					/* Handle */
					&::-webkit-scrollbar-thumb {
						background: orange;
					}

					/* Handle on hover */
					&::-webkit-scrollbar-thumb:hover {
						background: goldenrod;
					}
				}

				/** options style */
				.lunatic-dropdown-option {
					cursor: pointer;
					@include defaultFont();
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: black;

					display: block;

					&.lunatic-dropdown-option-active {
						color: ivory;
						background-color: midnightblue;
						.lunatic-prefix {
							color: darkgoldenrod;
							font-weight: bold;
						}
					}

					&.lunatic-dropdown-option-selected {
						color: snow;
						background-color: rgb(136, 19, 151);
						.lunatic-prefix {
							color: lightgray;
							font-weight: bold;
						}

						&.lunatic-dropdown-option-active {
							color: khaki;
							background-color: rgb(188, 90, 201);
						}
					}

					.lunatic-prefix {
						color: cornflowerblue;
						font-weight: bold;
					}
				}
			}
		}
	}
}
