.lunatic-modal::backdrop {
  background-color: rgba(50, 50, 50, 0.5);
}
.lunatic-modal {
  background-color: snow;
  height: fit-content;
  flex-direction: column;
  border-radius: 8px;
  overflow-wrap: break-word;
  position: relative;
  width: max-content;
  min-width: 400px;
  max-width: calc(100vw - 2rem);
  padding: 0.5rem;
}
.lunatic-modal_buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;
}
.lunatic-modal_close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  align-self: flex-end;
}
