.lunatic-modal::backdrop {
  background-color: rgba(50, 50, 50, 0.5);
}
.lunatic-modal {
  background-color: snow;
  height: fit-content;
  flex-direction: column;
  border-radius: 8px;
  overflow-wrap: break-word;
  position: relative;
  padding: 0;
}
.lunatic-modal_body {
  width: 50vw;
  padding: 0.5rem;
  position: relative;
}
.lunatic-modal_buttons {
  justify-self: flex-end;
  display: flex;
  gap: .5rem;
}
.lunatic-modal_close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  align-self: flex-end;
}
