.lunatic-suggester-mui {
	position: relative;
	height: 37px;
	margin-bottom: 18px;

	.lunatic-suggester-mui-content {
		position: absolute;
		top: 0;
		left: 0;

		.lunatic-suggester-mui-selection {
			z-index: 0;
		}

		.lunatic-suggester-mui-panel {
			background-color: snow;
			opacity: 1;
			z-index: 10;

			.lunatic-suggester-mui-option {
				&.selected {
					background-color: yellow;
				}
			}
		}
	}
}
