.centered {
	text-align: center;
}

.lunatic-img-container {
	text-align: center;
	margin-left: 30%;
	width: 40%;
}

.lunatic-img {
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 1em;
	position: relative;
	max-width: 100%;
}

.container {
	margin-left: 5%;
	width: 90%;
	display: flex;
}

.components {
	margin-left: 10%;
	width: 80%;
}

.lunatic-component {
	margin-bottom: 0.4em;
	// Disable inner / outer
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		text-align: left;
		-moz-appearance: textfield;
	}
}

.container-component {
	display: flex;
}

.w-5 {
	width: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	div {
		text-align: left;
	}
}

.w-95 {
	width: 95%;
}
