{
	"extends": ["prettier", "react-app"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
		"jsx-a11y/href-no-hash": "off",
		"jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
	}
}
