@import 'src/components/index.scss';

.button-lunatic {
	width: 100%;
	color: white;
	border-color: $main_color;
	background-color: $main_color;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.4em;
	&:hover,
	&:focus:hover {
		color: $main_color;
		background-color: white;
		border-color: $main_color;
	}
	&:focus {
		outline: none;
		background-color: $second_color;
		border-color: $second_color;
	}
	&:disabled {
		background: #dddddd;
		color: $main_color;
	}
}
