.button-lunatic {
	width: 100%;
	color: white;
	border-color: var(--color-primary-dark);
	background-color: var(--color-primary-dark);
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.4em;
	&:hover,
	&:focus:hover {
		color: var(--color-primary-dark);
		background-color: white;
		border-color: var(--color-primary-dark);
	}
	&:focus {
		outline: none;
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-light);
	}
	&:disabled {
		background: var(--color-disabled);
		color: var(--color-primary-dark);
	}
}
