.lunatic-component {
	.sequence-lunatic {
		padding: 0;
		font-size: 0.875rem;
		color: var(--color-primary-light);
		background-color: var(--color-secondary-contrast-text);
		border: 0;
		height: 1.875rem;
	}
}
.HELP {
	margin: 5px;
}
.INSTRUCTION {
	margin: 5px;
}
.COMMENT  {
	margin: 5px;
}
.STATEMENT  {
	margin: 5px;
}
