.lunatic-component {
	.sequence-lunatic {
		padding: 0;
		font-size: 0.875rem;
		color: var(--color-primary-light);
		background-color: var(--color-secondary-contrast-text);
		border: 0;
		height: 1.875rem;
	}
}

.HELP p,
.INSTRUCTION p,
.COMMENT p,
.STATEMENT p {
	margin: 10px;
	font-size: 12px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.HELP p,
.INSTRUCTION p {
	color: #0f417a;
}