.lunatic-checkbox-one {
	legend {
		.label-description {
			font-weight: lighter;
		}
	}
	.lunatic-input-radio {
		display: flex;

		label {
			display: flex;
			gap:0.5em;
			align-items: center;
			.label-description {
				font-weight: lighter;
			}
		}
	}
}
