$inputHeight: 32px;

@mixin defaultFont($size: 16px) {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: $size;
}
/* */
.lunatic-dropdown-basic {
	// position: relative;
	height: $inputHeight;
	width: 100%;

	/** */
	.lunatic-dropdown-label {
		color: #e27d60;
		@include defaultFont(18px);
		margin-bottom: 5px;
	}

	.lunatic-dropdown-container {
		display: block;
		position: relative;
		height: $inputHeight;
		width: 100%;

		.lunatic-dropdown-content {
			background-color: transparent;
			border-radius: 20px 20px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			width: 100%;

			&.focused {
				outline: none;
			}

			/*** */
			.lunatic-dropdown-input {
				display: block;
				background-color: snow;
				width: 100%;
				border: none;
				height: $inputHeight;
				border-radius: 10px 10px;
				box-shadow: 0em 0em 0.1em 0.1em #aaa;

				&.focused {
					box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25);
				}

				input {
					@include defaultFont();
					margin: 0px 25px 0px 12px;
					width: calc(100% - 37px);
					background-color: transparent;
					height: $inputHeight;
					border: none;
					outline: none;
				}
			}

			/*** */
			.lunatic-icone {
				position: absolute;
				top: 8px;
				right: 6px;
				cursor: pointer;
				&:focus {
					outline: none;
				}
			}

			/*** */
			.lunatic-transition {
				&:focus {
					outline: none;
				}
				.lunatic-dropdown-panel-container {
					background-color: snow;
					border: 1px solid rgba(200, 200, 200, 0.5);
					border-top: 0;
					box-shadow: 0em 0.2em 0.2em 0em #999;
					border-radius: 0px 0px 5px 5px;
					margin-top: 3px;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					padding: 2px 2px;

					&:focus {
						outline: none;
					}

					.lunatic-dropdown-panel {
						display: block;
						padding: 0;
						margin: 0;
						list-style: none;
						max-height: 100px;
						overflow-y: auto;
						overflow-x: hidden;

						&:focus {
							outline: none;
						}

						&.visible {
						}

						&.focused {
						}

						&:focus {
						}

						&.visible {
						}

						&:focus {
						}

						/** Scrollbar */
						&::-webkit-scrollbar {
							width: 8px;
						}
						&::-webkit-scrollbar-track {
							border-radius: 0px 0px 4px 0px;
							background-color: lightgray;
						}
						&::-webkit-scrollbar-thumb {
							background: #c38d9e;
						}
						&::-webkit-scrollbar-thumb:hover {
							background: #d1aeb9;
						}

						/** options style */
						.lunatic-dropdown-option {
							display: block;
							width: 100%;
							cursor: pointer;
							@include defaultFont(14px);
							color: #205851;
							padding: 2px 5px;

							&.lunatic-dropdown-option-active {
								background-color: #41b3a3;
								color: #143833;

								.lunatic-prefix {
									font-weight: bold;
									color: #7c5a65;
								}
							}

							&.lunatic-dropdown-option-selected {
								background-color: #e8a87c;
								color: #a17457;
								.lunatic-prefix {
									color: #4b3628;
								}
								&.lunatic-dropdown-option-active {
								}
							}

							.lunatic-prefix {
								font-weight: bold;
								color: #c38d9e;
							}
						}
					}
				}
			}
		}
	}
}
