$inputHeight: 32px;
$boxShadowColor: #aaa;

@mixin defaultFont {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
}

@mixin disableSelect {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.lunatic-dropdown-pump-my-theme {
	display: block;
	width: 100%;
	height: auto;
	&:focus {
		outline: none;
	}

	&.label-left {
		display: flex;
		flex-direction: row;
	}

	&.label-right {
		display: flex;
		flex-direction: row-reverse;
	}

	&.label-top {
		display: flex;
		flex-direction: column;
	}

	&.label-bottom {
		display: flex;
		flex-direction: column-reverse;
	}

	.lunatic-dropdown-label {
		@include defaultFont();
		color: rgb(0, 123, 255);
		opacity: 1;
	}

	.lunatic-dropdown-container {
		position: relative;
		height: $inputHeight;
		width: 100%;
		&:focus {
			outline: none;
		}

		.lunatic-dropdown-content {
			&.visible {
			}
			&.focused {
			}

			/*** */
			.lunatic-dropdown-input {
				display: block;
				background-color: snow;
				width: 100%;
				border: none;
				height: $inputHeight;
				border-radius: 0px 0px;
				box-shadow: 0em 0em 0.1em 0.1em rgba(202, 39, 140, 0.8);

				&.focused {
					box-shadow: 0 0 0 0.2em rgba(202, 39, 140, 0.25);
				}

				input {
					@include defaultFont();
					margin: 0px 25px 0px 12px;
					width: calc(100% - 37px);
					background-color: transparent;
					height: $inputHeight;
					border: none;
					outline: none;
				}
			}

			.lunatic-icone {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 7px;
				&:focus {
					outline: none;
				}
			}

			.lunatic-transition {
				visibility: hidden;
				overflow-y: hidden;
				opacity: 0;

				&:focus {
					outline: none;
				}

				&.visible {
					visibility: visible;
					opacity: 1;
					transition: opacity 0.5s ease-in;
				}

				.lunatic-dropdown-panel {
					padding: 0;
					margin: 0;
					margin-top: 12px;
					list-style: none;
					background-color: #e47297;
					&:focus {
						outline: none;
					}
					max-height: 200px;
					overflow-y: auto;

					/* width */
					&::-webkit-scrollbar {
						width: 8px;
					}

					/* Track */
					&::-webkit-scrollbar-track {
						background-color: #ffe9e8;
						border-radius: 4px 4px;
					}

					/* Handle */
					&::-webkit-scrollbar-thumb {
						background: #aa0114;
						border-radius: 4px 4px;
					}

					/* Handle on hover */
					&::-webkit-scrollbar-thumb:hover {
						background: goldenrod;
					}
				}

				/** options style */
				.lunatic-dropdown-option {
					cursor: pointer;
					@include defaultFont();
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #ffe9e8;
					padding: 5px 5px;
					display: block;
					border-bottom: solid 1px #ffe9e8;

					&.lunatic-dropdown-option-active {
						color: ivory;
						background-color: #9c1c6b;
						.lunatic-prefix {
							color: darkgoldenrod;
							font-weight: bold;
						}
					}

					&.lunatic-dropdown-option-selected {
						color: snow;
						background-color: #420c3e;
						.lunatic-prefix {
							color: lightgray;
							font-weight: bold;
						}

						&.lunatic-dropdown-option-active {
							color: khaki;
							background-color: rgb(188, 90, 201);
						}
					}

					.lunatic-prefix {
						color: cornflowerblue;
						font-weight: bold;
					}
				}
			}
		}
	}
}
