.lunatic-modal-controls {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.5);

	.modal {
		background-color: snow;
		height: 25%;
		width: 50%;
		margin: auto;
		margin-top: 20%;
		position: relative;
		border-radius: 8px;
		.body {
			color: black;
			font-size: 16px;
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
		}

		.modal-buttons {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0 0.2em 0.2em 0;
			:first-child {
				margin-right: 0.3em;
			}
		}
	}

	.errors {
		ul,
		li,
		div,
		span {
			border: none;
			list-style: none;
		}
	}
	ul {
		padding: 0.5em;
	}
}
