.lunatic-switch {
	display: flex;
	flex-direction: row;

	.lunatic-switch-label {
		height: 100%;
		line-height: 26px;
		&.checked {
			font-weight: bold;
		}
	}

	.lunatic-switch-container {
		display: inline-block;
		height: 26px;
		width: 52px;
		background-color: lightgrey;
		border-radius: 13px;
		position: relative;
		margin: 2px;

		cursor: pointer;

		.lunatic-switch-button {
			position: absolute;
			height: 22px;
			width: 22px;
			background-color: white;
			border-radius: 11px;
			margin: 2px;

			-webkit-transition: 0.3s;
			transition: 0.3s;
		}

		&.checked {
			background-color: royalblue;
			.lunatic-switch-button {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
}
