.lunatic-checkbox-group {
	legend {
		.label-description {
			font-weight: lighter;
			display: block;
		}
	}
	.lunatic-checkbox-group-option {
		display: flex;
		flex-direction: column;
		font-size: 13px;
	}
}
