.lunatic-component {
	.lunatic-datepicker .datepicker {
		width: 15rem;
		input {
			border-bottom: none;
			&:hover,
			&:focus {
				border-bottom: none;
			}
		}
		.clearButton {
			opacity: 1;
		}
	}
}
