.duration-fields,
.duration-field {
	display: flex;
	gap: 1rem;
}
.duration-field {
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
}

.field-row {
	display: flex;
	align-items: flex-end;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.input-hint {
	font-size: 0.8rem;
	color: #666;
}
