.missing-buttons {
	margin-top: 1em;
}
.missing-buttons .button-lunatic {
	width: 4em;
	font-size: 1em;
	font-weight: normal;
}
.missing-buttons .button-lunatic {
	background-color: var(--color-very-very-light);
	color: var(--color-primary-dark);
}
.missing-buttons .button-lunatic:not(:disabled):hover {
	background-color: white;
	color: var(--color-primary-main);
}
.missing-buttons .button-lunatic:disabled {
	opacity: .5;
}
.missing-button-active .button-lunatic {
	background-color: var(--color-primary-dark);
	color: var(--color-very-very-light);
}
.missing-buttons .missing-button-active .button-lunatic:hover {
	background-color: var(--color-primary-main);
	color: white;
}
