.lunatic-component {
	ol {
		list-style: none
	}
	.breadcrumb-lunatic {
		height: 40px;
		background-color:  var(--color-primary-dark);
		color: white;
		font-weight: bold;
		font-size: 24px;
		display: flex;
		align-items: center;
	}

	.breadcrumb-element-lunatic:before {
		content: '>';
		color: white;
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
}