* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.panel-container {
  // height: 80%;
  display: flex;
  position: absolute;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
  left: 0px;
  right: 0px;
}

.panel-left {
  position: relative;
  outline: none;
  width: 50%;
}

.panel-right {
  position: relative;
  outline: none;
  width: 48%;
  margin-left: 1%;
}

.btn {
  background-color: #2a5885;
  color: white;
  font-size: 1.5em;
  width: 15%;
  margin-right: 20%;
  margin-bottom: 0.5em;
}
