.list-icon-wrapper {
	&:focus-within svg {
		fill: var(--color-primary-dark);
	}
}

.list-icon {
	position: absolute;
	margin-top: -0.1rem;
	&.list-icon-disabled svg {
		background-color: var(--color-disabled);
	}
}
