.naf-option {
	white-space: nowrap;
	overflow: hidden;

	&.selected {
		background-color: darkred;
		.libelle {
			color: honeydew;
		}
	}

	.code {
		color: snow;
		text-align: center;
		border-radius: 3px;
		float: right; 
		padding: 2px 4px !important;

		&.division {
			background-color: olive;
		}
		&.section {
			background-color: firebrick;
		}
		&.groupe {
			background-color: blue;
		}
		&.classe {
			background-color: orange;
		}
		&.sous-classe {
			background-color: darkmagenta;
		}
	}
}
