.widget {
	border: solid darkred 2px;
	background-color: salmon;
	padding: 4px 4px;
	border: 2px 2px;
	width: 300px;
	display: flex;
	flex-direction: row;
	.store-name {
		width: 30%;
		color: darkred;
		font-size: 18px;
		white-space: nowrap;
		overflow-x: hidden;
	}
	.stats {
		color: darkred;
		font-size: 18px;
		white-space: nowrap;
		overflow-x: hidden;
		width: 70%;
	}
	.load {
		border: none;
		background-color: darkred;
		color: salmon;
		cursor: pointer;
	}
	.lunatic-suggester-loader-progress {
		height: inherit;
		border: solid 1px darkred;
		border-radius: 2px;
		width: 70%;
		.content {
			padding: 2px 2px;
			height: calc(100%);
			width: 100%;
			.progress {
				background-color: darkred;
				height: 100%;
			}
		}
	}
}
