* {
	box-sizing: border-box;
	--color-primary-dark: #2a5885;
	--color-primary-light: #5181b8;
	--color-primary-main: #4a73a4;
	--color-primary-contrast-text: #ffffff;

	--color-secondary-dark: #14202d;
	--color-secondary-light: #f7f8fa;
	--color-secondary-main: #1a293b;
	--color-secondary-contrast-text: #ffffff;

	--color-very-light: #dbe4ef;
	--color-very-very-light: #e6eaee;
	--color-current-item: #0d823e;

	--color-error: #f50c0c;
	--color-disabled: rgb(235, 235, 228);
	--color-prefix: cornflowerblue;
	--color-dropdown-active: rgba(0, 0, 0, 0.04);
	--color-dropdown-selected: rgba(0, 0, 0, 0.08);

	--dropdown-transition-time: 0.5s;
}

@mixin vertical-placement($reverse: false) {
	display: flex;
	flex-direction: if($reverse, column-reverse, column);
}

@mixin horizontal-placement($reverse: false) {
	display: flex;
	flex-direction: if($reverse, row-reverse, row);
	align-items: baseline;

	:first-child {
		margin-right: 1rem;
	}
}

.lunatic-component {
	.mandatory:after {
		content: ' *';
		color: red;
	}

	.horizontal-options {
		display: inline-block;
		margin-right: 2em;
	}

	// Label & Legend
	label,
	legend,
	.subsequence-lunatic,
	.lunatic-dropdown-label,
	.lunatic-dropdown-label focused {
		color: var(--color-primary-dark);
		background-color: var(--color-primary-contrast-text);
		border: 0;
		padding: 0;
		font-size: 0.75rem;
		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
		font-weight: bold;
		margin-bottom: 0.375rem;
	}

	/* refactor proposition */

	// .lunatic-component {
	// 	width: fit-content;
	// }

	.lunatic-component-container {
		display: flex;

		&.label-left-ex {
			flex-direction: row;
			align-items: baseline;
			.lunatic-label {
				margin-right: 1em;
			}
		}
		&.label-right-ex {
			flex-direction: row-reverse;
			align-items: baseline;
			.lunatic-label {
				margin-left: 1em;
			}
		}
		&.label-top-ex {
			flex-direction: column;
		}
		&.label-bottom-ex {
			flex-direction: column-reverse;
		}
	}

	/******/

	.label-top {
		@include vertical-placement();
	}
	.label-bottom {
		@include vertical-placement(true);
	}
	.label-right {
		justify-content: flex-end;
		@include horizontal-placement(true);
	}
	.label-left {
		@include horizontal-placement();
	}

	.field-container {
		display: flex;
	}

	.modality-label p {
		display: inline;
	}

	.field {
		width: 100%;
		position: relative;
	}

	.link-md .field-md {
		border-bottom: dashed 0.1em var(--color-primary-dark);
		&:hover {
			cursor: help;
			color: var(--color-primary-contrast-text);
			background-color: var(--color-primary-dark);
		}
	}
}
