* {
	box-sizing: border-box;
	--color-primary-dark: #2a5885;
	--color-primary-light: #5181b8;
	--color-primary-main: #4a73a4;
	--color-primary-contrast-text: #ffffff;

	--color-secondary-dark: #14202d;
	--color-secondary-light: #f7f8fa;
	--color-secondary-main: #1a293b;
	--color-secondary-contrast-text: #ffffff;

	--color-very-light: #dbe4ef;
	--color-very-very-light: #e6eaee;
	--color-current-item: #0d823e;

	--color-error: #f50c0c;
	--color-disabled: rgb(235, 235, 228);
	--color-prefix: cornflowerblue;
	--color-dropdown-active: rgba(0, 0, 0, 0.04);
	--color-dropdown-selected: rgba(0, 0, 0, 0.08);
}

.mandatory:after {
	content: ' *';
	color: red;
}

.horizontal-options {
	display: inline-block;
	margin-right: 2em;
}

@mixin vertical-placement($reverse: false) {
	display: flex;
	flex-direction: if($reverse, column-reverse, column);
}

@mixin horizontal-placement($reverse: false) {
	display: flex;
	flex-direction: if($reverse, row-reverse, row);
	align-items: baseline;
	:first-child {
		margin-right: 1rem;
	}
}

// Label & Legend
label,
legend,
.subsequence-lunatic,
.lunatic-dropdown-label,
.lunatic-dropdown-label focused {
	color: var(--color-primary-dark);
	background-color: var(--color-primary-contrast-text);
	border: 0;
	padding: 0;
	font-size: 0.75rem;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	line-height: 0.75rem;
	font-weight: bold;
	margin-bottom: 0.375rem;
}

.label-top {
	@include vertical-placement();
}
.label-bottom {
	@include vertical-placement(true);
}
.label-right {
	justify-content: flex-end;
	@include horizontal-placement(true);
}
.label-left {
	@include horizontal-placement();
}

.field-container {
	display: flex;
}

.tooltip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field-with-tooltip {
	width: calc(100% - 25px);
	position: relative;
}

.field {
	width: 100%;
	position: relative;
}
