@mixin defaultFont {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

@mixin selection() {
	@include defaultFont();
}

@mixin placeholderList {
	color: gray;
	@include defaultFont();
	font-size: 15px;
	line-height: 34px;
	vertical-align: middle;
	font-weight: normal;
}

@mixin icon($name) {
	&::before {
		--icon-size: 2rem;
		display: block;
		float: left;
		flex: 0 0 auto;
		background-color: white;
		width: var(--icon-size);
		height: var(--icon-size);
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
		-webkit-mask-image: url($name);
		mask-image: url($name);
		content: '';
		margin-left: -48px;
		margin-top: 12px;
	}
}

.lunatic-component {
	.lunatic-suggester-message-error {
		border: solid 1px darkred;
		color: darkred;
		background-color: tomato;
		display: inline-block;
		border-radius: 3px;
		padding: 4px 8px;
		margin: 4px 4px;
	}

	.lunatic-suggester-default-style {
		&.lunatic-suggester-container {
			margin-bottom: 10px;
			.lunatic-suggester {
				min-height: 30px;
				min-width: 260px;
				width: 100%;
				.lunatic-suggester-content {

					&.focused {
						.lunatic-suggester-selection {
						}
					}

					.lunatic-suggester-selection {
						border-radius: 5px;
						border: 2px solid var(--color-primary-dark);
						background-color: white;
						&:hover {
							border-color: var(--color-primary-main);
						}
						.lunatic-suggester-input {
							height: 34px;
							line-height: 34px;
							font-size: 15px;
							padding-left: 4px;
							@include selection();

							&::placeholder {
								@include placeholderList();
							}
						}

						.lunatic-suggester-selected {
							height: 34px;
							line-height: 34px;
							background-color: white;
							border-radius: 5px;
							padding-left: 4px;
							@include selection();

							.placeholderList {
								display: block;
								@include placeholderList();
							}
							.selection {
								display: block;
								line-height: 34px;
								font-size: 15px;
							}

							&.disabled {
								background-color: var(--color-disabled);
							}
						}
					}

					.lunatic-suggester-panel {
						@include defaultFont();
						height: 0;
						opacity: 0;
						background-color: white;
						transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
							transform 178ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
						&.expended {
							border: solid 1px var(--color-primary-light);
							opacity: 1;
							min-height: 30px;
							height: max-content;
							box-shadow: 0 2px 2px grey;
							border-radius: 4px;
						}
						.lunatic-suggester-option {
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							margin-bottom: 0.1em;
							line-height: 2rem;
							display: block;
							&.selected {
								color: var(--color-primary-dark);
								background-color: var(--color-dropdown-selected);
							}
							&:hover {
								background-color: var(--color-primary-main);
								color: white;
							}
						}
					}
				}
			}
		}
	}

	.lunatic-notification {
		line-height: 34px;
		margin: 2px 2px;
		padding: 1px 1px 1px 60px;

		&.info {
			background-color: lightblue;
			@include icon('./wait-icon.svg');
		}
		&.warn {
			background-color: orange;
			@include icon('./warn-icon.svg');
		}
		&.error {
			background-color: crimson;
			@include icon('./alert-icon.svg');
		}

		.lunatic-notification-container {
			background-color: white;
			padding: 0 15px;
			.title {
				font-weight: bold;
				font-size: large;
				margin-bottom: 3px;
			}
		}
	}
}
