@import 'src/components/index.scss';

.checkbox-group {
	border: 0.1em solid $main_color;
}

@mixin box-margin($margin: false) {
	margin: 0;
	margin-right: 1em;
	margin-left: if($margin, 1em, 0);
	margin-top: 0.5em;
	&:focus {
		outline: none;
	}
	&:checked + label {
		border: 0.1em solid $main_color;
		padding: 0.3em;
	}
}

.checkbox-lunatic {
	@include box-margin(true);
	&:focus {
		box-shadow: 0 0 0.3em 0.3em $main_color;
	}
}

.checkbox-lunatic-no-margin {
	@include box-margin(false);
}

.checkbox-modality {
	margin-top: 1em;
}

.checkbox-alone {
	margin-left: 0;
	margin-top: 0.5em;
}
