.checkbox-group,
.checkbox-group-list {
	border: 0;
	outline: 0;
	padding: 0;
}

.checkbox-lunatic,
.checkbox-boolean-lunatic {
	position: absolute;
	opacity: 0;
	margin-bottom: 0;
	margin-top: 0.15rem;
	margin-left: 0.2rem;
	height: 18px;
	width: 18px;
	+ label {
		margin-left: 2rem;
	}
	&:focus {
		+ label {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

.checkbox-boolean-lunatic + label::before {
	margin-right: -0.3rem;
}

.checkbox-modality,
.checkbox-boolean-modality {
	margin-bottom: 0.6rem;
}

.field,
.field-with-tooltip {
	.checkbox-group-list .checkbox-modality {
		height: 1.375em;
	}
}

.checkbox-group,
.checkbox-group-list {
	.modality_NR {
		margin-top: 1.5em;
	}
	.horizontal-options.modality_NR {
		margin-top: 0;
	}
	.checkbox-modality {
		label {
			display: flex;
		}
	}
	.checkbox-modality.checkbox-modality-block label {
		padding-top: 0.325em;
	}
	.checkbox-modality.checkbox-modality-block.horizontal-options label {
		padding-top: 0;
	}
}

.checkbox-lunatic + label {
	margin-top: 0.325em;
}

.checkbox-alone {
	margin-left: 0;
	margin-top: 0.5em;
}
