.centered {
	text-align: center;
}

.lunatic-img {
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 1em;
}

.container {
	margin-left: 5%;
	width: 90%;
	display: flex;
}

.components {
	width: 70%;
}

.state {
	width: 30%;
	border: 0.1em solid black;
	border-radius: 1em;
	padding: 0.4em;
}

.lunatic-component {
	margin-bottom: 0.4em;
}
