.lunatic-fab {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	outline: inherit;
	border: none;
	background-color: royalblue;
	box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
		0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

	&:hover {
		cursor: pointer;
		background-color: navy;
		transition: background-color 1s;
	}

	&.mini {
		width: 24px;
		height: 24px;
	}
}
