.lunatic-fab {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	outline: inherit;
	border: none;
	background-color: royalblue;
    box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
font-size: 16px;
	&.mini {
		width: 24px;
		height: 24px;
	}
}
