@import 'src/components/index.scss';

.subsequence-lunatic {
	height: 20px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: $main_color;
	border: 0.1em solid $main_color;
	color: white;
	font-weight: bold;
	font-size: 90%;
	padding-left: 10px;
	display: flex;
	align-items: center;
}
