.declaration-instruction {
	font-style: italic;
	font-size: 80%;
}

.declaration-comment {
	font-size: 80%;
}

.declaration-help {
	font-style: italic;
	font-size: 80%;
	color: green;
}

.declaration-warning {
	font-style: italic;
	font-size: 80%;
	color: red;
}

.declaration-message_filter {
	font-size: 100%;
	color: rgb(73, 66, 66);
	&:before {
		content: '→ ';
	}
}
